
services:
  ingestion-service:
    depends_on:
      - broker
      - device-management-service
    build: ./ingestion-service
    container_name: ingestion-service
    image: "quarkus/ingestion-service-jvm"
    ports:
      - "127.0.0.1:8082:8082"
    env_file:
      - .env
    environment:
      - SERVER_PORT=8082
      - DEVICE_MANAGEMENT_SERVICE_URL=http://device-management-service:8081
    networks:
      - iot-network

  device-management-service:
    depends_on:
      - broker
      - postgres
    build: ./device-management-service
    container_name: device-management-service
    image: "quarkus/device-management-service-jvm"
    ports:
      - "127.0.0.1:8081:8081"
    env_file:
      - .env
    environment:
      - SERVER_PORT=8081
    command: /bin/sh -c "sleep 5 && java -jar /deployments/quarkus-run.jar"
    networks:
      - iot-network

  analytics-service:
    depends_on:
      - broker
    build: ./analytics-service
    container_name: analytics-service
    image: "quarkus/analytics-service-jvm"
    ports:
      - "127.0.0.1:8084:8084"
    env_file:
      - .env
    environment:
      - SERVER_PORT=8084
    networks:
      - iot-network

  processing-service:
    depends_on:
      - broker
      - redis
    build: ./processing-service
    container_name: processing-service
    image: "quarkus/processing-service-jvm"
    ports:
      - "127.0.0.1:8083:8083"
    env_file:
      - .env
    environment:
      - SERVER_PORT=8083
    networks:
      - iot-network

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - ${DB_PORT}:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - iot-network

  adminer:
    depends_on:
      - postgres
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    networks:
      - iot-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - iot-network

  broker:
    image: apache/kafka:latest
    container_name: broker
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    networks:
      - iot-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - iot-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    networks:
      - iot-network

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8085:8080"
    depends_on:
      - broker
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:9092
    networks:
      - iot-network

networks:
  iot-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
  grafana_data:
    driver: local
